{% extends "base.html" %}

{% block content %}

<div class="card textContainter">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        
        <p class="card-text myText">{{ text }}</p>

        <!-- <a href="../" class="btn btn-primary">Show my progress</a> -->
        <a href="{% url 'atomic:index' %}"   class="btn btn-primary">Show my progress</a>
        <a href="{% url 'atomic:tracker' %}" class="btn btn-secondary">Update data</a>
    </div>
</div>


{% endblock content %}